<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">home</a>
            <a href="/about">about</a>
        </nav>
        <hr>
        <h1>게시판</h1>
        <form action="/create" method="post">
            <label for="post"></label>
            <input type="text" id="post" name="post" placeholder="글 쓰기">
            <input type="password" name="pwd" placeholder="비밀번호 생성">
            <input type="submit" value="보내기">
        </form>
        <h2>글 목록</h2>
        <%for(i=(posts.length-1);i>=0;i--){%>
        <form action="/remove/<%=i%>" method="post">
            <label class="text" for="pwd"><%=(i+1)+". "+posts[i]%> | </label>
            <input type="password" name="pwd" placeholder="비밀번호 입력">
            <button class="clear" type="submit">삭제</button><br><br>
        </form>  
        <%}%>
        
    </div>
    
</body>
</html>