<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">home</a>
            <a href="/about">about</a>
        </nav>
        <hr>
        <h1>게시판</h1>
        <form action="/create" method="post">
            <label for="post"></label>
            <input type="text" id="post" name="post" placeholder="글 쓰기">
            <input type="submit" value="보내기">
        </form>
        <h2>글 목록</h2>
        <form action="/remove" method="post">
            <%for(i=0;i<posts.length;i++){%>
                    <label class="text" for="text"><%=posts[i]%> &nbsp;&nbsp;&nbsp; | </label>
                    <button class="clear" type="submit" name="text" value="<%=i%>">삭제</button><br><br>
            <%}%>
        </form>  
        
    </div>
    
</body>
</html>